/*Estilos Propios*/
/*Variables de color*/
/*Variables de color*/
/*HEADER*/
header {
  background-image: url(../images/grisclaro-opt.jpg);
  background-size: cover; }
  header .headerLogo {
    width: 200px;
    margin-left: 20px; }
    header .headerLogo #menu li a {
      font-size: 18px;
      color: gray; }
      header .headerLogo #menu li a #menu button {
        font-size: 18px;
        font-weight: bold; }

/*MAIN*/
/*Variables de color*/
.main {
  background-image: url(../images/grisclaro-opt.jpg);
  background-size: cover; }
  .main h1 {
    color: #EBC81A;
    font-weight: bold; }
    .main h1 .primerParrafo {
      font-size: 20px;
      margin-left: 55%;
      margin-right: 55%;
      margin-bottom: 0; }

/*SERVICIOS*/
/*Variables de color*/
#titulos {
  color: gray; }
  #titulos .servicios h3 {
    margin: 100px;
    padding: 25px; }

.imagenes :hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

/*REDIRECCION CONTACTO*/
/*Variables de color*/
.redireccion {
  background-image: url(../images/grisclaro-opt.jpg);
  background-size: cover; }
  .redireccion .redireccionContacto,
  .redireccion .redireccionaContacto {
    font-size: 35px;
    color: #EB02B4; }

.text-light {
  text-decoration: none; }

/*NEWSLETTER*/
/*Variables de color*/
.labelNewsletter {
  font-size: 30px;
  color: #EBC81A; }

/*FOOTER*/
/*Variables de color*/
.footerFinP {
  background-image: url(../images/grisclaro-opt.jpg);
  background-size: cover; }
  .footerFinP .seguimeEnRedesDos {
    font-weight: bold;
    font-size: 25px;
    color: #EBC81A; }
    .footerFinP .seguimeEnRedesDos .footerLogo {
      width: 200px; }

.seguimeEnRedesDosA {
  color: #EB02B4;
  font-weight: bold; }

@media (max-width: 575.98px) {
  .headerLogo {
    width: 200px;
    margin-left: 150px; }
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
    .main .tituloHi {
      margin: 0;
      padding: 0; }
      .main .tituloHi .primerParrafo {
        margin: 0px;
        padding: 0px; }
  .servicios h3 {
    margin: 5px;
    padding: 5px; }
  .redireccionContacto {
    font-weight: bold; }
  .footerFinP {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; } }

/*TRANSICIONES, TRANSFORMACIONES, ANIMACIONES*/
/*Variables de color*/
.tituloHi {
  margin: 0 0.5rem;
  animation: heartBeat;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s;
  /* don't forget to set a duration! */ }

.nav-link:hover {
  font-weight: bold;
  color: #EBC81A; }

nav-item a::before, nav-item a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0; }

nav-item a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%); }

nav-item a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%); }

nav-item a:hover:before, nav-item a:hover:after {
  transform: translate(0, 0);
  opacity: 1; }

nav-item a:hover {
  color: #3DA35D; }

.redes:hover {
  width: 50px;
  transition: 0.9s; }

/*FLEXBOX*/
.menuNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end; }
  .menuNav .mainFlex, .menuNav .mainFlex .mainColumn .serviciosFlex, .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .serviciosFlex {
    display: flex;
    flex-direction: row; }
    .menuNav .mainFlex .mainColumn, .menuNav .mainFlex .mainColumn .serviciosFlex .mainColumn, .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .serviciosFlex .mainColumn, .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .menuNav .mainFlex .mainColumn .serviciosFlex, .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .serviciosFlex {
        justify-content: space-evenly;
        align-items: center; }
        .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex, .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .serviciosFlex .infoFlex {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex {
            flex-wrap: wrap; }
            .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .footerFlex {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center; }
              .menuNav .mainFlex .mainColumn .serviciosFlex .infoFlex .formFlex .footerFlex .redesSociales {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center; }

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  overflow-x: hidden; }

/*Variables de color*/
.boton-facebook {
  background-color: #EBC81A;
  border: #EBC81A; }

.boton-mail {
  background-color: #EB02B4;
  border: #EB02B4; }

.boton-instagram {
  background-color: #f3da6b;
  border: #f3da6b; }

.boton-whatsapp {
  background-color: #eb7bbc;
  border: #eb7bbc; }

/*MIXIN*/
.tituloHi {
  font-family: "oswald";
  font-size: 85px; }

#titulos {
  font-family: "raleway";
  font-size: 85px; }

/*Servicios*/
.cardsContenedor {
  width: 100%; }
  .cardsContenedor .cards {
    text-align: center;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.6s;
    margin: 2% 2% 2% 5%;
    padding: 0;
    display: inline-block; }
    .cardsContenedor .cards:hover {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
      transform: scale(1.03);
      cursor: pointer; }
      .cardsContenedor .cards:hover .cards img {
        width: 20px; }
        .cardsContenedor .cards:hover .cards img .cards h3 {
          text-align: center; }
          .cardsContenedor .cards:hover .cards img .cards h3 .cards a {
            display: inline-block; }

.cards #serviciosFooter {
  margin-top: 20px; }
