/*TRANSICIONES, TRANSFORMACIONES, ANIMACIONES*/

@import"colores";
.tituloHi {
    margin: 0 0.5rem;
    animation: heartBeat;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
    /* don't forget to set a duration! */
}

.nav-link:hover {
    font-weight: bold;
    color: $amarillo;
}

.redes:hover {
    width: 50px;
    transition: 0.9s;
}