  /*FLEXBOX*/
  
  .menuNav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      .mainFlex {
          display: flex;
          flex-direction: row;
          .mainColumn {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .serviciosFlex {
                  @extend .mainFlex;
                  justify-content: space-evenly;
                  align-items: center;
                  .infoFlex {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      .formFlex {
                          @extend .mainColumn;
                          flex-wrap: wrap;
                          .footerFlex {
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              justify-content: space-evenly;
                              align-items: center;
                              .redesSociales {
                                  display: flex;
                                  flex-direction: row;
                                  justify-content: center;
                                  align-items: center;
                              }
                          }
                      }
                  }
              }
          }
      }
  }