/*FOOTER*/

.footerFinP {
    background-image: url(../images/gris-mas-claro.jpg);
    background-size: cover;
    .seguimeEnRedesDos {
        font-weight: bold;
        font-size: 25px;
        color: $amarillo;
        .footerLogo {
            width: 200px;
        }
    }
}