        @import "colores";
        /*HEADER*/
        
        header {
            background-image: url(../images/gris-mas-claro.jpg);
            background-size: cover;
            .headerLogo {
                width: 200px;
                margin-left: 20px;
                nav {
                    background-image: linear-gradient(to right, $rosa 0%, $amarillo), url(../images/gris-mas-claro.jpg);
                    margin-top: auto;
                    #menu li a {
                        font-size: 18px;
                        color: $gris;
                        #menu button {
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }