     /*MAIN*/
     
     @import "colores";
     .main {
         background-image: url(../images/grisclaro-opt.jpg);
         background-size: cover;
         h1 {
             color: $amarillo;
             font-size: 85px;
             .primerParrafo {
                 font-size: 20px;
                 margin-left: 55%;
                 margin-right: 55%;
                 margin-bottom: 0;
             }
         }
     }