                $redes :
                /*clave : valor*/
                
                ( facebook: #3a5795, mail: #c25e30, instagram: rgb(143, 52, 143), whatsapp: rgb(65, 218, 65));
                //MAPS con each
                //@each clave, valor in mapa{}
                @each $name-color,
                $bgcolor in $redes {
                    .boton-#{$name-color} {
                        background-color: $bgcolor;
                        border: $bgcolor;
                    }
                }