/*REDIRECCION CONTACTO*/

@import"colores";
.redireccion {
    background-image: url(../images/gris-mas-claro.jpg);
    background-size: cover;
    .redireccionContacto,
    .redireccionaContacto {
        font-size: 35px;
        color: $rosa;
    }
}

.text-light {
    text-decoration: none;
}